(edif vga
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2002 12 16 22 3 29)
      (author "Synplicity, Inc.")
      (program "Synplify" (version "7.1, Build 174R"))
     )
   )
  (library (rename &ex64 "eX64")
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell outbuf (cellType GENERIC)
       (view netlist (viewType NETLIST)
         (interface
           (port d (direction INPUT))
           (port pad (direction OUTPUT))
         )
       )
    )
    (cell inbuf (cellType GENERIC)
       (view netlist (viewType NETLIST)
         (interface
           (port pad (direction INPUT))
           (port y (direction OUTPUT))
         )
       )
    )
    (cell hclkbuf (cellType GENERIC)
       (view netlist (viewType NETLIST)
         (interface
           (port pad (direction INPUT))
           (port y (direction OUTPUT))
         )
       )
    )
    (cell and4a (cellType GENERIC)
       (view netlist (viewType NETLIST)
         (interface
           (port a (direction INPUT))
           (port b (direction INPUT))
           (port c (direction INPUT))
           (port d (direction INPUT))
           (port y (direction OUTPUT))
         )
       )
    )
    (cell xor2 (cellType GENERIC)
       (view netlist (viewType NETLIST)
         (interface
           (port a (direction INPUT))
           (port b (direction INPUT))
           (port y (direction OUTPUT))
         )
       )
    )
    (cell gnd (cellType GENERIC)
       (view netlist (viewType NETLIST)
         (interface
           (port y (direction OUTPUT))
         )
       )
    )
    (cell vcc (cellType GENERIC)
       (view netlist (viewType NETLIST)
         (interface
           (port y (direction OUTPUT))
         )
       )
    )
    (cell dfc1b (cellType GENERIC)
       (view netlist (viewType NETLIST)
         (interface
           (port d (direction INPUT))
           (port clk (direction INPUT))
           (port clr (direction INPUT))
           (port q (direction OUTPUT))
         )
       )
    )
    (cell df1 (cellType GENERIC)
       (view netlist (viewType NETLIST)
         (interface
           (port d (direction INPUT))
           (port clk (direction INPUT))
           (port q (direction OUTPUT))
         )
       )
    )
    (cell cm8inv (cellType GENERIC)
       (view netlist (viewType NETLIST)
         (interface
           (port a (direction INPUT))
           (port y (direction OUTPUT))
         )
       )
    )
    (cell cm8 (cellType GENERIC)
       (view netlist (viewType NETLIST)
         (interface
           (port d0 (direction INPUT))
           (port d1 (direction INPUT))
           (port d2 (direction INPUT))
           (port d3 (direction INPUT))
           (port s00 (direction INPUT))
           (port s01 (direction INPUT))
           (port s10 (direction INPUT))
           (port s11 (direction INPUT))
           (port y (direction OUTPUT))
         )
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell vga (cellType GENERIC)
       (view verilog (viewType NETLIST)
         (interface
           (port (array (rename vd "vd[7:0]") 8) (direction OUTPUT))
           (port clk (direction INPUT)
 )
           (port video (direction INPUT))
           (port hsync (direction INPUT))
           (port vsync (direction INPUT))
           (port save (direction OUTPUT))
           (port saved (direction INPUT))
         )
         (contents
          (instance VCC (viewRef netlist (cellRef vcc (libraryRef &ex64)))          )
          (instance GND (viewRef netlist (cellRef gnd (libraryRef &ex64)))          )
          (instance save_0_and2 (viewRef netlist (cellRef and4a (libraryRef &ex64)))          )
          (instance G_13 (viewRef netlist (cellRef xor2 (libraryRef &ex64)))          )
          (instance pixel_n2_0_xor2 (viewRef netlist (cellRef cm8 (libraryRef &ex64)))
           (property DONTTOUCH (string "TRUE"))
           (property equ (string "s00 ~s10+~s00 s10 ~s11+s00 s11"))
          )
          (instance pixel_n3_0_xor2 (viewRef netlist (cellRef cm8 (libraryRef &ex64)))
           (property DONTTOUCH (string "TRUE"))
           (property equ (string "d1 s00 s01 ~s10+~s01 s10+~s00 s10+d3 s10"))
          )
          (instance pixel_i_0 (viewRef netlist (cellRef cm8 (libraryRef &ex64)))
           (property DONTTOUCH (string "TRUE"))
           (property equ (string "~s00"))
          )
          (instance hsync_c_i (viewRef netlist (cellRef cm8 (libraryRef &ex64)))
           (property DONTTOUCH (string "TRUE"))
           (property equ (string "~s00"))
          )
          (instance save_pad (viewRef netlist (cellRef outbuf (libraryRef &ex64)))          )
          (instance vd_pad_7 (viewRef netlist (cellRef outbuf (libraryRef &ex64)))          )
          (instance vd_pad_6 (viewRef netlist (cellRef outbuf (libraryRef &ex64)))          )
          (instance vd_pad_5 (viewRef netlist (cellRef outbuf (libraryRef &ex64)))          )
          (instance vd_pad_4 (viewRef netlist (cellRef outbuf (libraryRef &ex64)))          )
          (instance vd_pad_3 (viewRef netlist (cellRef outbuf (libraryRef &ex64)))          )
          (instance vd_pad_2 (viewRef netlist (cellRef outbuf (libraryRef &ex64)))          )
          (instance vd_pad_1 (viewRef netlist (cellRef outbuf (libraryRef &ex64)))          )
          (instance vd_pad_0 (viewRef netlist (cellRef outbuf (libraryRef &ex64)))          )
          (instance hsync_pad (viewRef netlist (cellRef inbuf (libraryRef &ex64)))          )
          (instance video_pad (viewRef netlist (cellRef inbuf (libraryRef &ex64)))          )
          (instance clk_pad (viewRef netlist (cellRef hclkbuf (libraryRef &ex64)))          )
          (instance pixel_3 (viewRef netlist (cellRef dfc1b (libraryRef &ex64)))
          )
          (instance pixel_2 (viewRef netlist (cellRef dfc1b (libraryRef &ex64)))
          )
          (instance pixel_1 (viewRef netlist (cellRef dfc1b (libraryRef &ex64)))
          )
          (instance pixel_0 (viewRef netlist (cellRef dfc1b (libraryRef &ex64)))
          )
          (instance vdZ0Z_7 (viewRef netlist (cellRef df1 (libraryRef &ex64)))
          )
          (instance vdZ0Z_6 (viewRef netlist (cellRef df1 (libraryRef &ex64)))
          )
          (instance vdZ0Z_5 (viewRef netlist (cellRef df1 (libraryRef &ex64)))
          )
          (instance vdZ0Z_4 (viewRef netlist (cellRef df1 (libraryRef &ex64)))
          )
          (instance vdZ0Z_3 (viewRef netlist (cellRef df1 (libraryRef &ex64)))
          )
          (instance vdZ0Z_2 (viewRef netlist (cellRef df1 (libraryRef &ex64)))
          )
          (instance vdZ0Z_1 (viewRef netlist (cellRef df1 (libraryRef &ex64)))
          )
          (instance vdZ0Z_0 (viewRef netlist (cellRef df1 (libraryRef &ex64)))
          )
          (instance pixel_n2_0_xor2_cm8i (viewRef netlist (cellRef cm8inv (libraryRef &ex64)))          )
          (net pixelZ0Z_3 (joined
           (portRef q (instanceRef pixel_3))
           (portRef a (instanceRef save_0_and2))
           (portRef s10 (instanceRef pixel_n3_0_xor2))
          ))
          (net pixelZ0Z_1 (joined
           (portRef q (instanceRef pixel_1))
           (portRef a (instanceRef pixel_n2_0_xor2_cm8i))
           (portRef d (instanceRef save_0_and2))
           (portRef b (instanceRef G_13))
           (portRef s00 (instanceRef pixel_n3_0_xor2))
          ))
          (net pixelZ0Z_2 (joined
           (portRef q (instanceRef pixel_2))
           (portRef b (instanceRef save_0_and2))
           (portRef s00 (instanceRef pixel_n2_0_xor2))
           (portRef s01 (instanceRef pixel_n3_0_xor2))
          ))
          (net pixelZ0Z_0 (joined
           (portRef q (instanceRef pixel_0))
           (portRef c (instanceRef save_0_and2))
           (portRef a (instanceRef G_13))
           (portRef d1 (instanceRef pixel_n3_0_xor2))
           (portRef s00 (instanceRef pixel_i_0))
          ))
          (net GNDZ0 (joined
           (portRef y (instanceRef GND))
           (portRef d2 (instanceRef pixel_n2_0_xor2))
           (portRef d1 (instanceRef pixel_n2_0_xor2))
           (portRef d0 (instanceRef pixel_n3_0_xor2))
           (portRef s11 (instanceRef pixel_n3_0_xor2))
           (portRef d3 (instanceRef pixel_i_0))
           (portRef d2 (instanceRef pixel_i_0))
           (portRef d1 (instanceRef pixel_i_0))
           (portRef s11 (instanceRef pixel_i_0))
           (portRef s10 (instanceRef pixel_i_0))
           (portRef d3 (instanceRef hsync_c_i))
           (portRef d2 (instanceRef hsync_c_i))
           (portRef d1 (instanceRef hsync_c_i))
           (portRef s11 (instanceRef hsync_c_i))
           (portRef s10 (instanceRef hsync_c_i))
          ))
          (net VCCZ0 (joined
           (portRef y (instanceRef VCC))
           (portRef d3 (instanceRef pixel_n2_0_xor2))
           (portRef d0 (instanceRef pixel_n2_0_xor2))
           (portRef s01 (instanceRef pixel_n2_0_xor2))
           (portRef d2 (instanceRef pixel_n3_0_xor2))
           (portRef d0 (instanceRef pixel_i_0))
           (portRef s01 (instanceRef pixel_i_0))
           (portRef d0 (instanceRef hsync_c_i))
           (portRef s01 (instanceRef hsync_c_i))
          ))
          (net pixel_n3 (joined
           (portRef y (instanceRef pixel_n3_0_xor2))
           (portRef d (instanceRef pixel_3))
          ))
          (net pixel_n2 (joined
           (portRef y (instanceRef pixel_n2_0_xor2))
           (portRef d (instanceRef pixel_2))
          ))
          (net clk_c (joined
           (portRef y (instanceRef clk_pad))
           (portRef clk (instanceRef pixel_0))
           (portRef clk (instanceRef pixel_1))
           (portRef clk (instanceRef pixel_2))
           (portRef clk (instanceRef pixel_3))
           (portRef clk (instanceRef vdZ0Z_0))
           (portRef clk (instanceRef vdZ0Z_1))
           (portRef clk (instanceRef vdZ0Z_2))
           (portRef clk (instanceRef vdZ0Z_3))
           (portRef clk (instanceRef vdZ0Z_4))
           (portRef clk (instanceRef vdZ0Z_5))
           (portRef clk (instanceRef vdZ0Z_6))
           (portRef clk (instanceRef vdZ0Z_7))
          ))
          (net clk (joined
           (portRef clk)
           (portRef pad (instanceRef clk_pad))
          ))
          (net video_c (joined
           (portRef y (instanceRef video_pad))
           (portRef d (instanceRef vdZ0Z_0))
          ))
          (net video (joined
           (portRef video)
           (portRef pad (instanceRef video_pad))
          ))
          (net hsync_c (joined
           (portRef y (instanceRef hsync_pad))
           (portRef s00 (instanceRef hsync_c_i))
          ))
          (net hsync (joined
           (portRef hsync)
           (portRef pad (instanceRef hsync_pad))
          ))
          (net vsync (joined
           (portRef vsync)
          ))
          (net vd_c_0 (joined
           (portRef q (instanceRef vdZ0Z_0))
           (portRef d (instanceRef vdZ0Z_1))
           (portRef d (instanceRef vd_pad_0))
          ))
          (net vd_0 (joined
           (portRef pad (instanceRef vd_pad_0))
           (portRef (member vd 7))
          ))
          (net vd_c_1 (joined
           (portRef q (instanceRef vdZ0Z_1))
           (portRef d (instanceRef vdZ0Z_2))
           (portRef d (instanceRef vd_pad_1))
          ))
          (net vd_1 (joined
           (portRef pad (instanceRef vd_pad_1))
           (portRef (member vd 6))
          ))
          (net vd_c_2 (joined
           (portRef q (instanceRef vdZ0Z_2))
           (portRef d (instanceRef vdZ0Z_3))
           (portRef d (instanceRef vd_pad_2))
          ))
          (net vd_2 (joined
           (portRef pad (instanceRef vd_pad_2))
           (portRef (member vd 5))
          ))
          (net vd_c_3 (joined
           (portRef q (instanceRef vdZ0Z_3))
           (portRef d (instanceRef vdZ0Z_4))
           (portRef d (instanceRef vd_pad_3))
          ))
          (net vd_3 (joined
           (portRef pad (instanceRef vd_pad_3))
           (portRef (member vd 4))
          ))
          (net vd_c_4 (joined
           (portRef q (instanceRef vdZ0Z_4))
           (portRef d (instanceRef vdZ0Z_5))
           (portRef d (instanceRef vd_pad_4))
          ))
          (net vd_4 (joined
           (portRef pad (instanceRef vd_pad_4))
           (portRef (member vd 3))
          ))
          (net vd_c_5 (joined
           (portRef q (instanceRef vdZ0Z_5))
           (portRef d (instanceRef vdZ0Z_6))
           (portRef d (instanceRef vd_pad_5))
          ))
          (net vd_5 (joined
           (portRef pad (instanceRef vd_pad_5))
           (portRef (member vd 2))
          ))
          (net vd_c_6 (joined
           (portRef q (instanceRef vdZ0Z_6))
           (portRef d (instanceRef vdZ0Z_7))
           (portRef d (instanceRef vd_pad_6))
          ))
          (net vd_6 (joined
           (portRef pad (instanceRef vd_pad_6))
           (portRef (member vd 1))
          ))
          (net vd_c_7 (joined
           (portRef q (instanceRef vdZ0Z_7))
           (portRef d (instanceRef vd_pad_7))
          ))
          (net vd_7 (joined
           (portRef pad (instanceRef vd_pad_7))
           (portRef (member vd 0))
          ))
          (net save_c (joined
           (portRef y (instanceRef save_0_and2))
           (portRef d (instanceRef save_pad))
          ))
          (net save (joined
           (portRef pad (instanceRef save_pad))
           (portRef save)
          ))
          (net saved (joined
           (portRef saved)
          ))
          (net pixel_iZ0Z_0 (joined
           (portRef y (instanceRef pixel_i_0))
           (portRef s11 (instanceRef pixel_n2_0_xor2))
           (portRef d3 (instanceRef pixel_n3_0_xor2))
           (portRef d (instanceRef pixel_0))
          ))
          (net hsync_c_iZ0 (joined
           (portRef y (instanceRef hsync_c_i))
           (portRef clr (instanceRef pixel_3))
           (portRef clr (instanceRef pixel_2))
           (portRef clr (instanceRef pixel_1))
           (portRef clr (instanceRef pixel_0))
          ))
          (net y (joined
           (portRef y (instanceRef G_13))
           (portRef d (instanceRef pixel_1))
          ))
          (net pixel_n2_0_xor2_cm8iZ0 (joined
           (portRef y (instanceRef pixel_n2_0_xor2_cm8i))
           (portRef s10 (instanceRef pixel_n2_0_xor2))
          ))
         )
       )
    )
  )
  (design vga (cellRef vga (libraryRef work)))
)
