(edif frontsExtractor
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2002 12 19 17 8 48)
      (author "Synplicity, Inc.")
      (program "Synplify" (version "7.1, Build 174R"))
     )
   )
  (library (rename &ex64 "eX64")
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell outbuf (cellType GENERIC)
       (view netlist (viewType NETLIST)
         (interface
           (port d (direction INPUT))
           (port pad (direction OUTPUT))
         )
       )
    )
    (cell inbuf (cellType GENERIC)
       (view netlist (viewType NETLIST)
         (interface
           (port pad (direction INPUT))
           (port y (direction OUTPUT))
         )
       )
    )
    (cell hclkbuf (cellType GENERIC)
       (view netlist (viewType NETLIST)
         (interface
           (port pad (direction INPUT))
           (port y (direction OUTPUT))
         )
       )
    )
    (cell xor2 (cellType GENERIC)
       (view netlist (viewType NETLIST)
         (interface
           (port a (direction INPUT))
           (port b (direction INPUT))
           (port y (direction OUTPUT))
         )
       )
    )
    (cell gnd (cellType GENERIC)
       (view netlist (viewType NETLIST)
         (interface
           (port y (direction OUTPUT))
         )
       )
    )
    (cell vcc (cellType GENERIC)
       (view netlist (viewType NETLIST)
         (interface
           (port y (direction OUTPUT))
         )
       )
    )
    (cell dfe3c (cellType GENERIC)
       (view netlist (viewType NETLIST)
         (interface
           (port d (direction INPUT))
           (port e (direction INPUT))
           (port clk (direction INPUT))
           (port clr (direction INPUT))
           (port q (direction OUTPUT))
         )
       )
    )
    (cell cm8 (cellType GENERIC)
       (view netlist (viewType NETLIST)
         (interface
           (port d0 (direction INPUT))
           (port d1 (direction INPUT))
           (port d2 (direction INPUT))
           (port d3 (direction INPUT))
           (port s00 (direction INPUT))
           (port s01 (direction INPUT))
           (port s10 (direction INPUT))
           (port s11 (direction INPUT))
           (port y (direction OUTPUT))
         )
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell frontsExtractor (cellType GENERIC)
       (view verilog (viewType NETLIST)
         (interface
           (port clk (direction INPUT)
 )
           (port clrn (direction INPUT))
           (port ena (direction INPUT))
           (port in (direction INPUT))
           (port out (direction OUTPUT))
         )
         (contents
          (instance VCC (viewRef netlist (cellRef vcc (libraryRef &ex64)))          )
          (instance GND (viewRef netlist (cellRef gnd (libraryRef &ex64)))          )
          (instance outZ0 (viewRef netlist (cellRef xor2 (libraryRef &ex64)))          )
          (instance ena_c_i (viewRef netlist (cellRef cm8 (libraryRef &ex64)))
           (property DONTTOUCH (string "TRUE"))
           (property equ (string "~s00"))
          )
          (instance out_pad (viewRef netlist (cellRef outbuf (libraryRef &ex64)))          )
          (instance in_pad (viewRef netlist (cellRef inbuf (libraryRef &ex64)))          )
          (instance ena_pad (viewRef netlist (cellRef inbuf (libraryRef &ex64)))          )
          (instance clrn_pad (viewRef netlist (cellRef inbuf (libraryRef &ex64)))          )
          (instance clk_pad (viewRef netlist (cellRef hclkbuf (libraryRef &ex64)))          )
          (instance rise_1 (viewRef netlist (cellRef dfe3c (libraryRef &ex64)))
          )
          (instance rise_0 (viewRef netlist (cellRef dfe3c (libraryRef &ex64)))
          )
          (net riseZ0Z_0 (joined
           (portRef q (instanceRef rise_0))
           (portRef a (instanceRef outZ0))
           (portRef d (instanceRef rise_1))
          ))
          (net riseZ0Z_1 (joined
           (portRef q (instanceRef rise_1))
           (portRef b (instanceRef outZ0))
          ))
          (net GNDZ0 (joined
           (portRef y (instanceRef GND))
           (portRef d3 (instanceRef ena_c_i))
           (portRef d2 (instanceRef ena_c_i))
           (portRef d1 (instanceRef ena_c_i))
           (portRef s11 (instanceRef ena_c_i))
           (portRef s10 (instanceRef ena_c_i))
          ))
          (net VCCZ0 (joined
           (portRef y (instanceRef VCC))
           (portRef d0 (instanceRef ena_c_i))
           (portRef s01 (instanceRef ena_c_i))
          ))
          (net clk_c (joined
           (portRef y (instanceRef clk_pad))
           (portRef clk (instanceRef rise_0))
           (portRef clk (instanceRef rise_1))
          ))
          (net clk (joined
           (portRef clk)
           (portRef pad (instanceRef clk_pad))
          ))
          (net clrn_c (joined
           (portRef y (instanceRef clrn_pad))
           (portRef clr (instanceRef rise_0))
           (portRef clr (instanceRef rise_1))
          ))
          (net clrn (joined
           (portRef clrn)
           (portRef pad (instanceRef clrn_pad))
          ))
          (net ena_c (joined
           (portRef y (instanceRef ena_pad))
           (portRef s00 (instanceRef ena_c_i))
          ))
          (net ena (joined
           (portRef ena)
           (portRef pad (instanceRef ena_pad))
          ))
          (net in_c (joined
           (portRef y (instanceRef in_pad))
           (portRef d (instanceRef rise_0))
          ))
          (net in (joined
           (portRef in)
           (portRef pad (instanceRef in_pad))
          ))
          (net out_c (joined
           (portRef y (instanceRef outZ0))
           (portRef d (instanceRef out_pad))
          ))
          (net out (joined
           (portRef pad (instanceRef out_pad))
           (portRef out)
          ))
          (net ena_c_iZ0 (joined
           (portRef y (instanceRef ena_c_i))
           (portRef e (instanceRef rise_1))
           (portRef e (instanceRef rise_0))
          ))
         )
       )
    )
  )
  (design frontsExtractor (cellRef frontsExtractor (libraryRef work)))
)
